*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f3f3f3;
color:#222;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
}

.nav{
display:flex;
gap:30px;
list-style:none;
}

.hero{
display:flex;
padding:60px;
background:#eee;
align-items:center;
gap:60px;
}

.hero-img img{
width:450px;
}

.hero-text h1{
font-size:42px;
margin:20px 0;
}

.hero-text .small{
letter-spacing:2px;
font-size:12px;
color:gray;
}

.hero-text a{
display:inline-block;
margin-top:20px;
text-decoration:none;
color:black;
border-bottom:1px solid black;
}

.brands{
display:flex;
justify-content:space-around;
padding:40px 60px;
background:white;
font-weight:bold;
color:#999;
}

.products{
padding:60px;
}

.product-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.product-card{
background:white;
text-align:center;
padding:20px;
}

.product-card img{
width:100%;
height:350px;
object-fit:cover;
}

.sale{
display:flex;
padding:60px;
background:white;
align-items:center;
gap:60px;
}

.sale-img img{
width:400px;
}

.sale-text h2{
font-size:40px;
margin:20px 0;
}

.sale-text button{
margin-top:20px;
padding:10px 20px;
background:black;
color:#ffffff;
border:none;
}

.newsletter{
padding:100px;
text-align:center;
background:#ffffff;
}

.newsletter-form{
margin-top:20px;
}

.newsletter input{
padding:10px;
width:250px;
}

.newsletter button{
padding:10px 20px;
background:black;
color:white;
border:none;
}

.banner{
background:url('./six.png') center/cover no-repeat;
height:350px;
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.banner a{
color:white;
display:inline-block;
margin-top:20px;
border-bottom:1px solid white;
text-decoration:none;
}

.footer{
display:flex;
justify-content:space-between;
padding:60px;
background:white;
}

.footer-columns{
display:flex;
gap:80px;
}



@media(max-width:1000px){
.hero,.sale{
flex-direction:column;
text-align:center;
}
.hero-img img,.sale-img img{
width:100%;
}
.product-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.product-grid{
grid-template-columns:1fr;
}
.header{
flex-direction:column;
gap:20px;
}
.nav{
flex-direction:column;
align-items:center;
}
}



.countdown-wrapper {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

#status {
    margin-top: 5px;
    color: red;
}
